.link-button {
    margin-top: 3px;
    margin-right: 10px;
    vertical-align: top;
    color: #8D99AE;
    float: right;
    border-color: #8D99AE;
}

.link-button:hover {
    color: #2B2D42;
    border-color: #2B2D42;
}